%table#scoreboard.table.table-striped
  %thead
    %tr
      %th Player Name
  %tbody
    - players.each_with_index do |p, i|
      %tr
      %td
        %p
          #{ordinalize(i+1)} - 
          %a(href="/players/#{p.id}")= p.name
