%table#scoreboard.table.table-striped
  %thead
    %tr
      %th Name
      %th Chips
  %tbody.score
  %tr.info
    %td{:colspan=>2}
      Note: Rankings are based on chip count at beginning of latest round.
