- if (@tournament.playing? || @tournament.open?)
  %p Sorry, this tournament is not available to view
- else
  .span12
    %aside#sidebar
      %h2 
        By Player
        .loader
      = render :partial => "players", :locals => {:players => @tournament.players.ranked }
