- if (@tournament.playing? || @tournament.open?)
  %p Sorry, this tournament is not available to view
- else
  .span4
    %aside#sidebar
      %h2 
        Players
        .loader
      = render :partial => "players", :locals => {:players => @tournament.players}
