- if irc_link
  .alert.alert-info
    Join us in IRC! Click here:
    %a{:href => irc_link}
      = irc_link 
  
- if nlce_active?
  .span4
    %aside#sidebar
      %h2 
        Scoreboard
        .loader
      .scoreboard_wrapper
        = render :partial => "tournaments/scoreboard", :locals => {:scoreboard => @scoreboard} if @scoreboard
  .span8
    %section#content
      %h2 
        Tables
        .loader
      .poker_tables_wrapper
        = render :partial => "tournaments/poker_tables", :locals => {:tables => @tables} if @tables
- else
  .docs
    %h2 No Limit Code 'Em
    .content
      %h3 Coming Soon
