- if nlce_active?
  %table#scoreboard.table.table-striped
    %thead
      %tr
        %th.rank Rank  
        %th Name
        %th Chips
    %tbody.score
    %tr.info
      %td{:colspan=>2}
        Note: Rankings are based on chip count at beginning of latest round.
- else
  %h3 Coming soon

- if nlce_active?
  :javascript
    $(function() {
      reload_scoreboard();
      var refresh = getURLParameter("refresh");
      var delay = (getURLParameter("delay") == "pete" ? 300 : 10000);
      setInterval(function() { reload_scoreboard(); }, 5000);
    });

