@import "https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic";

$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$body-bg: #ddd;
//$body-bg: #34495E;
//$body-bg: #31353d;
//$body-bg: #1c1d21;

$navbar-default-bg: #272727;
//$navbar-default-bg: #1c1d21;
//$navbar-default-bg: #31353d;
$navbar-default-link-color: #aaa;
$navbar-default-link-hover-color: #ddd;
$navbar-default-link-active-color: #eee;

@import "bootstrap";
@import "scoreboard";
@import "poker_tables";
@import "registration";
@import "docs";

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: #666;
  overflow-x: hidden;
}

.loader {
  width: 32px;
  height: 32px;
  margin-top: -3px;
  float: right;
  display: none;
  background: image-url('loader.gif') no-repeat;
}

.navbar {
  border-bottom: none;
  border-radius: 0;

  li a {
    font-weight: bold;
  }
}

.navbar-brand {
  padding: 10px 15px 0 15px;
  img {
    width: 95px;
  }

  $card-bg: #005286;
  &.navbar-cards {
    padding: 5px 5px 5px 10px;
    background: $card-bg;
    &:hover {
      background: $card-bg;
    }
    img {
      width: 132px;
    }
  }
}

i.chip {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 1px;
  vertical-align: text-top;
  background: image-url('chip_sprite_bordered.png') no-repeat;
  background-position: 0 0;
  margin-left: -13px;

  &.chip-white { background-position: 0 0 }
  &.chip-red { background-position: -20px 0 }
  &.chip-green { background-position: -40px 0 }
  &.chip-black { background-position: -60px -20px }
  &.chip-purple { background-position: -60px 0 }
  &.chip-yellow { background-position: 0 -20px }
  &.chip-gray { background-position: -60px 0 }
}   

.card {
  background: #fff;
  display: inline-block;
  padding: 0px 5px;
  margin-right: 1px;
  border: 1px solid #444;
  color: #000;
  font-size: 18px;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: none;
  border-radius: 4px;

  &.blank {
   height: 53px; 
   background: image-url('card-red.gif') no-repeat;
   background-size: cover;
   margin-right: -30px;
   text-indent: -9999px;
    border: 1px solid #000;
   white-space: nowrap;
   .suit {
     text-indent: -9999px;
     white-space: nowrap;
    }
  }
}
.suit {
  display: block;
  font-size: 24px;
  padding: 0px 1px;
  margin-top: -3px;
  margin-bottom: -5px;
}
.red {
  color: red;
}

body.rounds, body.tournaments, body.players {
  background: #fff;
}
