@import "bootstrap";
@import "scoreboard";
@import "poker_tables";
@import "registration";

body {
  font: 1em Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: #666;
}

.loader {
  width: 32px;
  height: 32px;
  margin-top: -3px;
  float: right;
  display: none;
  background: image-url('loader.gif') no-repeat;
}

i.chip {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -1px;
  line-height: 18px;
  vertical-align: text-top;
  background: image-url('chip_sprite.png') no-repeat;
  background-position: 0 0;
  margin-left: -13px;

  &.chip-bordered {
    background: image-url('chip_sprite_bordered.png') no-repeat;
  }
  &.chip-white { background-position: 0 0 }
  &.chip-red { background-position: -20px 0 }
  &.chip-green { background-position: -40px 0 }
  &.chip-black { background-position: -60px -20px }
  &.chip-purple { background-position: -60px 0 }
  &.chip-yellow { background-position: 0 -20px }
  &.chip-gray { background-position: -60px 0 }
}   

.cards {
  margin: 10px 0px;
}
.card {
  background: #fff;
  display: inline;
  padding: 5px 3px 5px 5px;
  margin-right: -2px;
  border: 1px solid #ddd;
  color: #000;
  border-radius: 5px;
}
.suit {
  display: inline;
  padding: 0px 2px;
}
.red { color: red; }
.black { color: black; }
