.docs .span8 { margin: 0 auto; float: none; margin-bottom: 30px; }
.docs #poker_tables { padding: 20px 20px 10px 20px; }
.docs .table th, .docs .table td { border-left: 1px solid #ddd; }
.docs h4 { padding: 0; margin: 0 }
.docs table.params td:first-child { font-family: "Courier", "Monospace"; color: #44f; font-weight: bold }
.docs table.params td:nth-child(3) { font-family: "Courier", "Monospace" }

.doc { 
  margin: 0;
  padding: 5px 10px;
  font-size: 22px;
  @include border-radius(8px 8px 0px 0px);
  background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: linear, to bottom, white 0%, #f4f4f4 100%; 
  border: 1px solid #ddd;
  font-weight: normal; 
}
.well {
  line-height: 1.5;
  background: #fff !important;
  font-size: 16px;
}
.bs-docs-sidenav {
  width: 228px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  font-size: 14px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}

.bs-docs-sidenav .active .icon-chevron-right {
  background-image: url("/assets/glyphicons-halflings.png") !important;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.docs h2 {
  background: #fff;
  background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: linear, to bottom, white 0%, #f4f4f4 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
  color: #444;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
  margin: 0;
  padding: 5px 10px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #ddd; @include border-radius(8px 8px 0px 0px !important); 
}

.title { font-size: 16px; font-weight: bold; border-top: 1px dashed #ddd; margin-top: 20px;  padding: 20px 0px; }
.docs .table-bordered { @include border-radius(0px !important); }
.docs .table { font-size: 14px; margin-bottom: 0 }
.docs table th, .docs .table td { background: #fff; }
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child,
table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child { @include border-radius(0); }
.docs .content { margin-bottom: 30px; border-bottom: 1px solid #ddd; padding: 20px; background: #fff;  border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.docs { line-height: 1.5; }
.docs ul { border-top: 2px solid #ddd; list-style: none; margin:0; padding: 0 } 
.docs ul li { line-height: 1.5; padding: 10px 15px; }
.docs ul li:nth-child(even) { background: #f1f1f1 }
.docs ol li { line-height: 17px; padding: 10px 15px; }


