.doc {
  background: #fff;
  color: #000;

  .container {
    margin-left: 0;
    padding-left: 0;
  }
}

.page-header, h1, h2 {
  margin-top: 0;
}

h3.api {
  padding: 10px;
  background: #272727;
  border-left: 5px solid #000;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0px;
}

.well.highcontrast {
  background: #272727;
  color: #fff;
}

.lead {
  font-size: 18px;
}

h3.api + p.lead {
  padding: 10px;
  border: 1px solid #ddd; 
  margin-bottom: 30px;
}

ol.overview li {
  margin-bottom: 10px;
}

#poker_tables {
  padding: 20px 20px 10px 20px;
}

table.params td {
  &:first-child {
    font-family: "Courier", "Monospace";
    color: #44f;
    font-weight: bold;
  }
  &:nth-child(3) {
    font-family: "Courier", "Monospace";
  }
}

.table {
  .alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px; 
  }
}

.bs-sidenav {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.bs-sidenav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidenav > li > a:hover,
.bs-sidenav > li > a:focus {
  text-decoration: none;
  background-color: #e5e5e5;
  border-right: 1px solid #dbd8e0;
}
.bs-sidenav > .active > a,
.bs-sidenav > .active:hover > a,
.bs-sidenav > .active:focus > a {
  font-weight: bold;
  color: #005286;
  background-color: transparent;
  border-right: 1px solid #005286;
}

.docs {
  .table {
    font-size: 14px;
    margin-bottom: 0;
  }
  table th, .table td {
    background: #fff;
  }
}

.docs {
  ul {
    border-top: 2px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 1.5;
      padding: 10px 15px;
      &:nth-child(even) {
        background: #f1f1f1;
      }
    }
  }
  ol li {
    line-height: 17px;
    padding: 10px 15px;
  }
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
