#poker_tables {

  .poker_table {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 30px;
    background: image-url('table_large.png') no-repeat;
    background-size: 98%;
    min-height: 350px;
    @include transition(all 0.3s linear);

    .players {
      width: 100%;
      padding: 0;

      td { 
        text-align: center;
        position: relative;

        span {
          text-align: center;
          display: block;
          &.name {
            color: #fff;
            text-shadow: 0px 1px 0px #000;
            background: rgba(0,0,0,0.8);
            border-radius: 18px;
            overflow: hidden;
            height: 18px;
            font-weight: bold;
            display: inline-block;
            width: 85px;
            padding: 0px 5px;
          }
          &.stack { 
            color: #fff; 
            font-weight: bold;
            text-shadow: 0px 1px 0px #000;

            i:last-child {
              margin-right: 3px;
            }
          }
          &.cards {
            .card { margin-top: 5px; }
          }
        }


        &:first-child:not(.bottom) { 
          .player {
            -webkit-transform: rotate(-30deg);
            position: relative;
            left: -10px;
          }
          .cards { position: absolute; top: 50px; left: 40px; }
          .stack { position: absolute; top: 30px; left: 50px; }
        }

        &:last-child:not(.bottom) { 
          .player {
            -webkit-transform: rotate(30deg);
            position: relative;
            right: -10px;
            top: -10px;
          }
          .cards { position: absolute; top: 50px; left: 30px; }
          .stack { position: absolute; top: 30px; left: 40px; }
        }

        &:nth-child(2):not(.bottom) {
          .player {
            position: relative;
            top: -10px;
          }
        }

        &:nth-child(3):not(.bottom) {
          .player {
            position: relative;
            top: -10px;
          }
        }

        &.bottom {
          .stack {
            margin-bottom: 5px;
          }
          .cards {
            .card { margin-bottom: 5px; }
          }

          &:first-child {
            .player {
              -webkit-transform: rotate(50deg);
              position: relative;
              top: -30px;
              left: -40px;
            }
            .cards { position: absolute; top: -75px; left: 25px; }
            .stack { position: absolute; top: -30px; left: 35px; }
          }

          &:last-child {
            .player {
              -webkit-transform: rotate(-60deg);
              position: relative;
              top: -60px;
              right: -50px;
            }
            .cards { position: absolute; top: -75px; left: 30px; }
            .stack { position: absolute; top: -30px; left: 40px; }
          }

          &:nth-child(2) {
            .player {
              -webkit-transform: rotate(10deg);
              position: relative;
              left: -60px;
              top: 5px;
            }
          }

          &:nth-child(3) {
            .player {
              -webkit-transform: rotate(-10deg);
              position: relative;
              right: -80px;
              top: 5px;
            }
          }
        }

        &.pot_middle {
          font-weight: bold;
          text-align: center;
          width: 100%;
          padding: 40px 10px;
          text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
          color: #fff;

         .the_pot {
            display: inline-block;
            position: relative;
            padding: 5px 10px 5px 20px;
            background: rgba(0,0,0,0.5);
            border-radius: 18px;
            top: -15px;
            margin-right: 10px;
            i:last-child {
              margin-right: 5px; 
            }
          }

          .community_cards {
            display: inline-block;
            .card {
              width: 35px;
            }
          }
        }

        .lost {
          @include opacity(0.3);
        }

        &.bottom { 
          margin-bottom: 0px; 
        }
      }

      td:not(.pot_middle) {
        .cards {
          .card { font-size: 12px; }
          .suit { font-size: 16px; }
        }
      }
    }

    h3 { 
      margin: 0;
      padding: 5px 10px;
      line-height: 24px;
      color: #444;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 2px solid #159071;
      i {
        margin-top: 2px;
      }
    }

    .pot {
      border-bottom: none;
      text-shadow: none;
      line-height: 24px;
      text-align: left;
      padding: 3px 9px; 
      margin: 0;
      color: #fff;
      border-bottom: 2px solid #000;
    }

    .last_winner { 
      border-bottom: none;
      text-shadow: none;
      text-align: center;
      padding: 3px 9px; 
      margin: 0;
      color: rgba(255,255,255,0.4);
      position: absolute;
      font-size: 12px;
      left: 34%;
      bottom: 16%;
      span { display: block; }
      span:first-child { color: rgba(255,255,255,1); }
      span:last-child { color: rgba(255,255,255,0.2); }
      i {
        @include opacity(0.3);
        margin-right: 3px;
      }
    }
  }
}
