#poker_tables {
  &.big {
    .poker_table {width: 100% !important;} 
    .players { width: 100%; }
  }

  .poker_table {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 15px;
    @include transition(all 0.3s linear);

    .players {
      width: 100%;
      padding: 0;
      background: $table-bg;

      td { 
        span {
          text-align: center;
          display: block;

          &.name {
            color: #fff;
            overflow: hidden;
            height: 18px;
            font-weight: bold;
          }
          &.stack { 
            color: #fff; 
            i:last-child {
              margin-right: 6px;
            }
          }
        }

        &.pot_middle {
          font-weight: bold;
          text-align: center;
          width: 100%;
          padding: 10px 10px;
          background: rgba(0,0,0,0.1);
          text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
          color: #fff;

         .the_pot {
            background: rgba(0,0,0,0.5);
            display: inline-block;
            position: relative;
            padding: 5px 10px 5px 20px;
            border-radius: 18px;
            i:last-child {
              margin-right: 5px; 
            }
          }
          .cards {
            margin-top: 5px;
            .card {
              width: 35px;
            }
          }
        }

        .lost {
          @include opacity(0.3);
        }

        &.bottom { 
          margin-bottom: 0px; 
        }
      }

      td:not(.pot_middle) {
        .cards {
          .card { font-size: 12px; }
          .suit { font-size: 16px; }
        }
      }
    }

    h3 { 
      margin: 0;
      padding: 5px 10px;
      line-height: 24px;
      border-radius: $table-radius $table-radius 0 0;
      color: #444;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      background: #48CFAD;
      border-bottom: 2px solid #159071;
      i {
        margin-top: 2px;
      }
    }

    .pot {
      background: rgba(0,0,0,0.2);
      border-bottom: none;
      text-shadow: none;
      line-height: 24px;
      text-align: left;
      padding: 3px 9px; 
      margin: 0;
      color: #fff;
      border-bottom: 2px solid #000;
    }

    .last_winner { 
      background: darken($table-bg, 7%);
      border-bottom: none;
      text-shadow: none;
      text-align: left;
      padding: 3px 9px; 
      margin: 0;
      color: rgba(255,255,255,0.4);
      border-radius: 0 0 $table-radius $table-radius;

      span { display: block; }
      span:first-child { color: rgba(255,255,255,0.8); }
      span:last-child { color: rgba(255,255,255,0.2); }
      i {
        @include opacity(0.3);
        margin-right: 3px;
      }
    }
  }
}
 
