#poker_tables {
  padding: 20px;

  .poker_table {
    font-size: 0.8em;
    float: left;
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px; 
    background: image-url('pattern.png');
    -webkit-background-clip: padding-box;
    @include border-radius(8px);
    @include box-shadow(#{0 0 2px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.5)});
    @include transition(all 0.3s linear);

    &:nth-child(even) { margin-right: 0 }

    &.top {
      width: 100% !important;
      .players { width: 100%; }
    }

    &.hover {
      @include box-shadow(0px 3px 12px 2px rgba(0,0,0,0.5));
      top: -2px;
      position: relative;
    }

    .players {
      margin: 10px 0px;
      padding: 0;
      td { 
        width: 33%;
        span {
          text-align: center;
          padding: 5px 10px;
          display: block;
          &.name { font-weight: bold; color: #fff; }

          &.stack { 
            color: #fff; 
            font-weight: bold;
            i:last-child { margin-right: 3px; }
          }
        }

        &.pot_middle {
          font-size: 1.3em;
          font-weight: bold;
          text-align: center;
          padding: 15px 10px;
          text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
          background: rgba(0,0,0,0.4);
          color: #fff;
          i { margin-right: 3px; }
        }
        .lost { @include opacity(0.3); }
        &.bottom { 
          margin-bottom: 0px; 
        }
      }
    }

    h3 { 
      margin: 0;
      padding: 5px 10px;
      line-height: 24px;
      font-size: 1.4em;
      color: #fff;
      background: image-url('wood.png') rgba(0,0,0,0.5);
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
      @include border-radius(8px 8px 0px 0px);
      border-bottom: 2px solid rgba(0,0,0,0.7);
      i { margin-top: 2px }
    }

    .pot {
      background: rgba(0,0,0,0.2);
      border-bottom: none;
      text-shadow: none;
      line-height: 24px;
      font-size: 1em;
      text-align: left;
      padding: 3px 9px; 
      margin: 0;
      color: #fff;
      border-bottom: 2px solid #000;
    }

    .last_winner { 
      @include border-radius(0 0 8px 8px);
      background: rgba(0,0,0,0.1);
      border-bottom: none;
      text-shadow: none;
      line-height: 24px;
      font-size: 1em;
      text-align: left;
      min-height: 78px !important;
      padding: 3px 9px; 
      margin: 0;
      color: rgba(255,255,255,0.4);
      span { display: block; }
      span:first-child { color: rgba(255,255,255,0.8); }
      span:last-child { color: rgba(255,255,255,0.2); }
      i {
        @include opacity(0.3);
        margin-right: 3px;
      }
    }
  }
}
 
