#scoreboard {
  width: 500px; 
  margin: 0 auto;
  thead {
    tr { 
      th { border-left: 1px solid #ddd; }
      th:first-child { width: 60% !important; border-left: none } 
    }
  }
  tbody {
    tr { 
      &.lost { opacity: 0.5 }
      &.player {
        i.chip {
          margin-left: -13px;
        }
      }
      td.chips {
        padding-left: 20px;
        i:last-child { margin-right: 2px; };
      } 
    }
  }
}
 
