%p
  %pre
    %code
      Ante Progression works as follows:
      The ante will be a certain percentage of the average chipstack of all active players in the tournament.
      That percentage is determined by the following equation:
      p = -0.0008 * n + 0.1
      where p is the percentage of the average chipstack, and n is the number of players remaining.
      As players are eliminated, this percentage will rise until only two players remain.
