%a{name: "suite", id: "suite"}

.page-header
  %h1 Card Reference 

.panel.panel-black
  .panel-heading Suit Lookup
  %table.table.table-striped
    %thead
      %tr
        %th Code
        %th Suit
    %tr
      %td 'C'
      %td Club
    %tr
      %td 'D'
      %td Diamond
    %tr
      %td 'H'
      %td Heart
    %tr
      %td 'S'
      %td Spade

.panel.panel-black
  .panel-heading Face Values 
  %table.table.table-striped
    %thead
      %tr
        %th Code
        %th Value
    %tr
      %td '2', '3', '4', '5', '6', '7', '8', '9'
      %td Same as Face value
    %tr
      %td 'T'
      %td 10
    %tr
      %td 'J'
      %td Jack
    %tr
      %td 'Q'
      %td Queen
    %tr
      %td 'K'
      %td King
    %tr
      %td 'A'
      %td Ace

.panel.panel-black
  .panel-heading Examples 
  %table.table.table-striped
    %tr
      %td AS
      %td Ace of Spades
    %tr
      %td TH
      %td 10 of Hearts
    %tr
      %td JD
      %td Jack of Diamonds

