!!!
%html
  %head
    %title No Limit Code 'Em | Help
    %link{:href => "/assets/application.scss", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "cVlN8pDZ3+cIL/mQTA7PDZgd3b5Etu4nQYzQt+hs01g=", :name => "csrf-token"}/
  %body.docs
    %section#content
      %h2
        Poker Hand Ranking
        .loader
      .poker_tables_wrapper
        .clearfix
        %table#scoreboard.table.table-striped
          %thead
            %tr
              %th{:style => "width: 17%"} Hand
              %th Description
              %th{:style => "width: 20%"} Example
          %tr
            %td Royal Flush
            %td A straight from a ten to an ace with all five cards of the same suit. In poker all suits are ranked equally.
            %td Ah, Kh, Qh, Jh, Th
          %tr
            %td Straight Flush
            %td Any straight with all five cards of the same suit.
            %td 9c, 8c, 7c, 6c, 5c
          %tr
            %td Four of a Kind
            %td Any four cards of the same rank. If two players share the same Four of a Kind, the bigger 5th card (the "kicker") decides who wins the pot.
            %td Ah, As, Ad, Ac, Kh
          %tr
            %td Full House
            %td Any three cards of the same rank together with any two cards of the same rank. Our example shows "Aces full of Kings" and it is a bigger full house than "Kings full of Aces."
            %td Ah, Ac, Ad, Kh, Kc
          %tr
            %td Flush
            %td Any five cards of the same suit (not consecutive). The highest card of the five determines the rank of the flush. Our example shows an Ace-high flush, which is the highest possible.
            %td As, Ts, 7s, 6s, 2s
          %tr
            %td Straight
            %td Any five consecutive cards of different suits. Aces can count as either a high or a low card. Our example shows a five-high straight, which is the lowest possible straight.
            %td 5c, 4d, 3s, 2h, Ah
          %tr
            %td Three of a Kind
            %td Any three cards of the same rank. Our example shows three-of-a-kind Aces, with a King and a Queen as side cards - the best possible three of a kind.
            %td Ah, As, Ad, Ks, Qc
          %tr
            %td Two Pair
            %td Any two cards of the same rank together with another two cards of the same rank. Our example shows the best possible two-pair, Aces and Kings. The highest pair of the two determines the rank of the two-pair.
            %td Ah, As, Kc, Kh, Qs
          %tr
            %td One Pair
            %td Any two cards of the same rank. Our example shows the best possible one-pair hand.
            %td Ah, As, Kh, Qs, Jd
          %tr
            %td High Card
            %td Any hand not in the above-mentioned hands. Our example shows the best possible high-card hand.
            %td Ah, Ks, Qd, Jc, 9s
