.page-header
  %h1
    Poker Hand Ranking
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:style => "width: 17%"} Hand
      %th Description
      %th{:style => "width: 20%"} Example
  %tr
    %td Royal Flush
    %td A straight from a ten to an ace with all five cards of the same suit. In poker all suits are ranked equally.
    %td AH, KH, QH, JH, TH
  %tr
    %td Straight Flush
    %td Any straight with all five cards of the same suit.
    %td 9C, 8C, 7C, 6C, 5C
  %tr
    %td Four of a Kind
    %td Any four cards of the same rank. If two players share the same Four of a Kind, the bigger 5th card (the "kicker") decides who wins the pot.
    %td AH, AS, AD, AC, KH
  %tr
    %td Full House
    %td Any three cards of the same rank together with any two cards of the same rank. Our example shows "Aces full of Kings" and it is a bigger full house than "Kings full of Aces."
    %td AH, AC, AD, KH, KC
  %tr
    %td Flush
    %td Any five cards of the same suit (not consecutive). The highest card of the five determines the rank of the flush. Our example shows an Ace-high flush, which is the highest possible.
    %td AS, TS, 7S, 6S, 2S
  %tr
    %td Straight
    %td Any five consecutive cards of different suits. Aces can count as either a high or a low card. Our example shows a five-high straight, which is the lowest possible straight.
    %td 5C, 4D, 3S, 2H, AH
  %tr
    %td Three of a Kind
    %td Any three cards of the same rank. Our example shows three-of-a-kind Aces, with a King and a Queen as side cards - the best possible three of a kind.
    %td AH, AS, AD, KS, QC
  %tr
    %td Two Pair
    %td Any two cards of the same rank together with another two cards of the same rank. Our example shows the best possible two-pair, Aces and Kings. The highest pair of the two determines the rank of the two-pair.
    %td AH, AS, KC, KH, QS
  %tr
    %td One Pair
    %td Any two cards of the same rank. Our example shows the best possible one-pair hand.
    %td AH, AS, KH, QS, JD
  %tr
    %td High Card
    %td Any hand not in the above-mentioned hands. Our example shows the best possible high-card hand.
    %td AH, KS, QD, JC, 9S
