%h2 Rules for Five Card Draw
%table#scoreboard.table.table-striped
  %thead
    %tr
      %th Step
      %th Description
  %tr
    %td 1
    %td Players ante up (place a small bet in the pot).
  %tr
    %td 2
    %td Starting with the player to the dealer's left, the dealer deals each player five cards, face down.
  %tr
    %td 3
    %td Everyone picks up their cards from the table and checks out what they have got.
  %tr
    %td 4
    %td There is a round of betting, starting with the player to the dealer's left.
  %tr
    %td 5
    %td
      When the betting is done, those who are still in the hand get to trade in one, two, or three cards from their hand for new ones.
      * Note: You do not have to trade any cards - if you have already got good hand, you will want to "stand pat" and keep the cards you were first dealt.
  %tr
    %td 6
    %td After everyone receives their new cards, there is another round of betting, starting to the dealer's left.
  %tr
    %td 7
    %td After the betting is completed, players show their hands and the best hand wins the pot.
