.page-header
  %h1 Enova Texas Hold 'Em Poker

%p.lead The rules for Enova Texas Hold 'Em Poker are essentially the same as normal Texas Hold 'Em poker. Players are given a set amount of chips and arranged at tables with no more than eight players per table, with tables merging together as players bust out (lose all their chips).
%p At each table, players play out hands (also referred to as "rounds" in these docs) of Texas Hold 'Em poker. The steps of a hand are as follows:
%ul.list-group
  %li.list-group-item The player to the left of the dealer puts down the "small blind," which is half of the ante of the hand. If they can't meet the small blind, they go all-in for what they have.
  %li.list-group-item The player two spaces to the left of the dealer puts down the "big blind," which is the ante of the hand. If they can't meet the big blind, they go all-in for what they have.
  %li.list-group-item Each player is dealt 2 cards, face down (i.e., no one else can see these cards).
  %li.list-group-item The 'deal' betting phase begins. Each player, in order (refer to the order of players as returned by the status request), gets a chance to ante in, or even raise their bet. To play the hand, they must meet the previous player's bet or ante, fold, or go all in. Once all players have gone all-in or agreed on a bet, the betting phase ends.
  %li.list-group-item The 'flop' phase begins, in which all players are shown three "community cards." These cards can be used by anyone to form the best overall hand, when combined with their personal cards. After these cards are given out, another round of betting happens.
  %li.list-group-item The 'turn' phase begins, in which all players are shown an additional community card, bringing the total to four. Another round of betting follows this new card.
  %li.list-group-item The 'river' phase begins, in which all players are shown the fifth and final community card. Another round of betting follows this new card.
  %li.list-group-item When the 'river' phase ends, the 'showdown' happens. This is when all players still in show their cards and the game determines winners.

%h2 Examples
.content
  These are some of the scenarios we used to test our server:
  %pre{:style => "margin-top: 10px;"}
    :preserve
      Scenario: Simplest table
        When 2 players are at a table
        # Player 1 is the dealer. So, player 2 posts small blind, and player 1 posts big blind.
        # Player 2 is therefore the first to act:
        And player 2 bets 24
        And player 1 folds
        Then player 2 wins the round

      Scenario: Betting above maximum bet
        When 2 players are at a table
        And player 2 bets 50
        Then player 1 cannot bet 1000

      Scenario: Betting below minimum bet
        When 2 players are at a table
        Then player 2 cannot bet -1

      Scenario: Going all in
        Given 2 players are at a table with initial stacks [50, 100]
        And the deck favors player 1
        When player 2 goes all in
        And player 1 goes all in
        # Refund extra pot to player 2
        Then player 2 wins 50
        And player 1 wins 100

      Scenario: Player goes all in and loses
        Given 2 players are at a table with initial stacks [100, 50]
        And the deck favors player 1
        When player 2 goes all in
        And player 1 calls
        Then player 1 wins 100
        And player 2 is unseated

      Scenario: Dealer, not chip leader, goes all in and loses
        Given 2 players are at a table with initial stacks [50, 100]
        And the deck favors player 2
        When player 2 goes all in
        And player 1 calls
        Then player 2 wins 150
        And player 1 is unseated

      Scenario: 2 players split the pot at a larger table
        When 3 players are at a table
        Given the deck favors player 1 and player 2
        # 2 small blinds, 3 big blinds, 1 starts
        When player 1 bets 80
        And player 2 calls
        And player 3 calls
        # 2 starts the flop
        And player 2 checks
        And player 3 checks
        And player 1 checks
        # 2 starts the turn
        And player 2 checks
        And player 3 checks
        And player 1 checks
        # 2 starts the river
        And player 2 checks
        And player 3 checks
        And player 1 checks
        Then player 1 and player 2 split the pot
