%h2
  Documents
%h3 
  Rules For Five Card Draw
%body
  .layer1
    %p.heading Flow
    .content= render :partial => "pages/docs/rules_five_card" 
    %p.heading Rankings
    .content= render :partial => "pages/docs/ranking_five_card" 
  :javascript
    jQuery(document).ready(function() {
      jQuery(".content").hide();
      //toggle the componenet with class msg_body
      jQuery(".heading").click(function()
      {
        jQuery(this).next(".content").slideToggle(500);
      });
    });
