%h2
%p In order to make sure that you are sending the correct requests and receiving the correct information, you can use special Sandbox Testing routes.

.title Testing requests and actions
%p
  To test your bot, point it towards the endpoint:
  %pre
    http://no-limit-code-em.com/sandbox/players/SANDBOX_KEY
  (notice the /sandbox/ instead of /api/). Then, your bot will receive a state based on the value of the sandbox key.
%p
  To replicate each of the three main phases of a game, use each of these three keys.
%p
  To simulate how the game would look after the initial deal, use
  %strong initial-deal-key
  as SANDBOX_KEY.
%p
  To simulate how the game would look where you need to replace cards, use
  %strong replacement-stage-key
  as SANDBOX_KEY.
%p
  To simulate how the game would look in the final betting phase, use
  %strong final-bet-key
  as SANDBOX_KEY.
%p
  You can use these keys in two different ways - both GET and POST. A GET will show what the game will look like if you were to ask for the game state during that time. A POST will return the game state and two additional parameters called "sandbox_result" and "validity".
%p
  GETs are made to the following URL:
  %pre
    http://no-limit-code-em.com/sandbox/players/SANDBOX_KEY
%p
  POSTs are made to the following URL:
  %pre
    http://no-limit-code-em.com/sandbox/players/SANDBOX_KEY/action
