
              Sandbox Testing 
              In order to make sure that you are sending the correct requests and receiving the correct information, you can use this Sandbox Testing routes.
              GET /sandbox/players/:key/ (Get the game's current state.)
              Syntax
                Request

	To receive a game state where you must respond with a bet, 
	use PLAYER_KEY = fc2455f8-1879-4ad4-8012-1f337c2869f2
	
	To receive a game state where you must respond with a replacement of cards,
	use PLAYER_KEY = 728f53dd-a5dc-4582-8864-be37576b9592

Example game state where it is your turn to bet:	
Response

json
{
// Returns your name
      "name" =>"George Laffel", 

// Returns your stack at the start of the round
      "initial_stack" => 250, 

// Returns true if it is your turn and false if it is not your turn
      "your_turn" => true, 

// Returns your current bet
      "current_bet" => 20, 

// Returns your minimum bet to stay in the round
      "minimum_bet" => 25,

// Returns your maximum bet that you can place
      "maximum_bet" => 250, 

// Returns your five-card hand
      "hand" => ["6D", "5C", "AS", "5H", "9H"],

// Returns the current state of the round: 
	["deal", "draw", "post_draw", "showdown"]
// You should bet when the betting_phase is "deal" or "post_draw" and
// you should replace cards when the betting_phase is "draw"
      "betting_phase" => "deal", 

// Returns the state of all players at the current table
      "players_at_table" => [{"player_name":"Jesse Smith","initial_stack":250,"current_bet":25,"actions":[{"action":"ante","amount":20},{"action":"bet","amount":25}]},{"player_name":"Sally Pausin","initial_stack":250,"current_bet":20,"actions":[{"action":"ante","amount":20}]}]
			     }

// Returns the id of your table
      "table_id" => 88, 

// Returns the id of the current round
      "round_id" => 105, 

// Returns a log of all rounds that you have played
      "round_history" => [{"round_id":105,"table_id":88,"stack_change":null}], 

// Returns the time at which you lose 
      "lost_at" => null
}
              
              POST /sandbox/players/:key/action (Posting an action.)
         

Syntax

Request

In order to post a bet, 
use PLAYER_KEY = fc2455f8-1879-4ad4-8012-1f337c2869f2
and to post a replacement of cards, 
use PLAYER_KEY = 728f53dd-a5dc-4582-8864-be37576b9592
	
json	
{
     :action_name => "bet",
     :amount => 50
}

or 

json
{
     :action_name => "replace",
     :cards => ["3D"]
}
            
Response

If your action is valid, you will be returned a game state that 
mirrors the effect of that action.
               